In [43]:
# activate R magic
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [0]:
%%R
# Formatando os dados de uma página web
library(rvest)
library(stringr)
library(tidyr)

#**read_html()**

In [0]:
%%R
#Exercício 1 - Faça a leitura da url abaixo e grave no objeto pagina
pagina <- read_html("http://forecast.weather.gov/MapClick.php?lat=42.31674913306716&lon=-71.42487878862437&site=all&smap=1#.VRsEpZPF84I")
#read_html() função do pacot rvest

#**html_nodes()** - Extrair blocos específicos de uma página Web

In [0]:
%%R
# Exercício 2 - Da página coletada no item anterior, extraia o texto que contenha as tags:
# "#detailed-forecast-body b  
# .forecast-text"
previsao <- html_nodes(pagina, "#detailed-forecast-body b , .forecast-text")

#**html_text()** - transformar o node extraído para texto

## Aplicar paste() para deixar o resultado mais visual

In [47]:
%%R
# Exercício 3 - Transforme o item anterior em texto
texto <- html_text(previsao)
paste(texto, collapse = " ")

[1] "Today Sunny, with a high near 90. Southwest wind 7 to 11 mph, with gusts as high as 23 mph.  Tonight Patchy fog after 3am.  Otherwise, increasing clouds, with a low around 64. Southwest wind around 9 mph.  Thursday Mostly cloudy, with a high near 83. Southwest wind 8 to 10 mph.  Thursday Night A chance of rain before 9pm, then a chance of showers after 9pm.  Mostly cloudy, with a low around 66. South wind 6 to 9 mph, with gusts as high as 22 mph.  Chance of precipitation is 30%. Friday A chance of showers, with thunderstorms also possible after 2pm.  Mostly cloudy, with a high near 81. Southwest wind around 8 mph, with gusts as high as 22 mph.  Chance of precipitation is 30%. Friday Night A chance of showers and thunderstorms, then showers likely and possibly a thunderstorm after 4am.  Mostly cloudy, with a low around 66. South wind 7 to 9 mph, with gusts as high as 20 mph.  Chance of precipitation is 60%. Saturday Showers likely and possibly a thunderstorm before 7am, then a chance of showers.  Patchy fog between 7am and 8am.  Otherwise, mostly cloudy, with a high near 81. Southwest wind around 6 mph.  Chance of precipitation is 60%. Saturday Night Mostly cloudy, with a low around 58. West wind 3 to 5 mph.  Sunday Mostly sunny, with a high near 73. Northwest wind 3 to 6 mph.  Sunday Night Mostly clear, with a low around 48. North wind 3 to 5 mph.  Monday Mostly sunny, with a high near 67. Northwest wind around 6 mph.  Monday Night Partly cloudy, with a low around 46. Northwest wind 3 to 5 mph.  Tuesday Sunny, with a high near 70. North wind 3 to 5 mph. "

In [0]:
%%R
# Exercício 4 - Extraímos a página web abaixo para você. Agora faça a coleta da tag "table"
url <- 'http://espn.go.com/nfl/superbowl/history/winners'
pagina <- read_html(url)

In [0]:
%%R
tabela <- html_nodes(pagina, 'table')

In [50]:
%%R
class(tabela) #tipo de dado retornado ao extrair com html_nodes()

[1] "xml_nodeset"

#**html_table()** - Converter extração xml do node em DataFrame

In [51]:
%%R
# Exercício 5 - Converta o item anterior em um dataframe
tab <- html_table(tabela)[[1]]
class(tab)

[1] "data.frame"

In [52]:
%%R
head(tab)

                              X1                             X2
1 Super Bowl Winners and Results Super Bowl Winners and Results
2                            NO.                           DATE
3                              I                  Jan. 15, 1967
4                             II                  Jan. 14, 1968
5                            III                  Jan. 12, 1969
6                             IV                  Jan. 11, 1970
                              X3                             X4
1 Super Bowl Winners and Results Super Bowl Winners and Results
2                           SITE                         RESULT
3  Los Angeles Memorial Coliseum   Green Bay 35, Kansas City 10
4            Orange Bowl (Miami)       Green Bay 33, Oakland 14
5            Orange Bowl (Miami)  New York Jets 16, Baltimore 7
6   Tulane Stadium (New Orleans)    Kansas City 23, Minnesota 7

In [53]:
%%R
# Exercício 6 - Remova as duas primeiras linhas e adicione nomes as colunas
tab <- tab[-(1:2), ] #extrair um vetor que representa as duas primeiras linhas
head(tab)

   X1            X2                            X3                            X4
3   I Jan. 15, 1967 Los Angeles Memorial Coliseum  Green Bay 35, Kansas City 10
4  II Jan. 14, 1968           Orange Bowl (Miami)      Green Bay 33, Oakland 14
5 III Jan. 12, 1969           Orange Bowl (Miami) New York Jets 16, Baltimore 7
6  IV Jan. 11, 1970  Tulane Stadium (New Orleans)   Kansas City 23, Minnesota 7
7   V Jan. 17, 1971           Orange Bowl (Miami)       Baltimore 16, Dallas 13
8  VI Jan. 16, 1972  Tulane Stadium (New Orleans)            Dallas 24, Miami 3

In [54]:
%%R
names(tab) <- c("number", "date", "site", "result")
head(tab)

  number          date                          site
3      I Jan. 15, 1967 Los Angeles Memorial Coliseum
4     II Jan. 14, 1968           Orange Bowl (Miami)
5    III Jan. 12, 1969           Orange Bowl (Miami)
6     IV Jan. 11, 1970  Tulane Stadium (New Orleans)
7      V Jan. 17, 1971           Orange Bowl (Miami)
8     VI Jan. 16, 1972  Tulane Stadium (New Orleans)
                         result
3  Green Bay 35, Kansas City 10
4      Green Bay 33, Oakland 14
5 New York Jets 16, Baltimore 7
6   Kansas City 23, Minnesota 7
7       Baltimore 16, Dallas 13
8            Dallas 24, Miami 3

In [55]:
%%R
# Exercício 7 - Converta de algarismos romanos para números inteiros
tab$number <- 1:52 #vetor de números aplicado à coluna number do objeto tab
tab$date <- as.Date(tab$date, "%B. %d, %Y")
head(tab)

R[write to console]: Error in `$<-.data.frame`(`*tmp*`, number, value = 1:52) :
  replacement has 52 rows, data has 54
Calls: <Anonymous> ... <Anonymous> -> withVisible -> $<- -> $<-.data.frame

Error in `$<-.data.frame`(`*tmp*`, number, value = 1:52) :
  replacement has 52 rows, data has 54
Calls: <Anonymous> ... <Anonymous> -> withVisible -> $<- -> $<-.data.frame

#**separate()** - {tidyr}

## Separar o objeto tab, na coluna "result", gerando duas novas colunas "winner" e "loser" com base no separador ',' e dividir a coluna em duas

In [56]:
%%R
# Exercício 8 - Divida as colunas em 4 colunas
tab <- separate(tab, result, c('winner', 'loser'), sep = ', ', remove = TRUE)
head(tab)

  number          date                          site           winner
3      I Jan. 15, 1967 Los Angeles Memorial Coliseum     Green Bay 35
4     II Jan. 14, 1968           Orange Bowl (Miami)     Green Bay 33
5    III Jan. 12, 1969           Orange Bowl (Miami) New York Jets 16
6     IV Jan. 11, 1970  Tulane Stadium (New Orleans)   Kansas City 23
7      V Jan. 17, 1971           Orange Bowl (Miami)     Baltimore 16
8     VI Jan. 16, 1972  Tulane Stadium (New Orleans)        Dallas 24
           loser
3 Kansas City 10
4     Oakland 14
5    Baltimore 7
6    Minnesota 7
7      Dallas 13
8        Miami 3

#**str_extract**()
##Encontrar o padrão digito "\\d+$" para fazer a divisão do score com o time.

In [57]:
%%R
# Exercício 9 - Inclua mais 2 colunas com o score dos vencedores e perdedores
# Dica: Você deve fazer mais uma divisão nas colunas
pattern <- " \\d+$"
tab$winnerScore <- as.numeric(str_extract(tab$winner, pattern))
tab$loserScore <- as.numeric(str_extract(tab$loser, pattern))
head(tab)

  number          date                          site           winner
3      I Jan. 15, 1967 Los Angeles Memorial Coliseum     Green Bay 35
4     II Jan. 14, 1968           Orange Bowl (Miami)     Green Bay 33
5    III Jan. 12, 1969           Orange Bowl (Miami) New York Jets 16
6     IV Jan. 11, 1970  Tulane Stadium (New Orleans)   Kansas City 23
7      V Jan. 17, 1971           Orange Bowl (Miami)     Baltimore 16
8     VI Jan. 16, 1972  Tulane Stadium (New Orleans)        Dallas 24
           loser winnerScore loserScore
3 Kansas City 10          35         10
4     Oakland 14          33         14
5    Baltimore 7          16          7
6    Minnesota 7          23          7
7      Dallas 13          16         13
8        Miami 3          24          3

In [0]:
%%R
tab$winner <- gsub(pattern, "", tab$winner)
tab$loser <- gsub(pattern, "", tab$loser)

In [59]:
%%R
head(tab)

  number          date                          site        winner       loser
3      I Jan. 15, 1967 Los Angeles Memorial Coliseum     Green Bay Kansas City
4     II Jan. 14, 1968           Orange Bowl (Miami)     Green Bay     Oakland
5    III Jan. 12, 1969           Orange Bowl (Miami) New York Jets   Baltimore
6     IV Jan. 11, 1970  Tulane Stadium (New Orleans)   Kansas City   Minnesota
7      V Jan. 17, 1971           Orange Bowl (Miami)     Baltimore      Dallas
8     VI Jan. 16, 1972  Tulane Stadium (New Orleans)        Dallas       Miami
  winnerScore loserScore
3          35         10
4          33         14
5          16          7
6          23          7
7          16         13
8          24          3

#**write.csv**

In [60]:
%%R
# Exercício 10 - Grave o resultado em um arquivo csv
write.csv(tab, 'superbowl.csv', row.names = F)
dir()

[1] "sample_data"   "superbowl.csv"