In [0]:
# activate R magic
%load_ext rpy2.ipython

#**Subsetting** - subset(), merge(), plyr::arrange()
# Conhecer estas notações é fundamental para compreeder como gerar subconjuntos

In [2]:
%%R
## Vetores
x <- c("A", "E", "D", "B", "C")
x[]
x

[1] "A" "E" "D" "B" "C"

#**[ ]**notação de colchetes|indexação permite colocar regras para retornar subsets

In [8]:
%%R
# Índices Positivos - Elementos em posições específicas
x[c(1, 3)]#retorne x. Como é apenas um vetor, retornar index de coluna 1 e 3

[1] "A" "D"

In [9]:
%%R
x[c(1, 1, 1)]#retornar o elemento mais de uma vez repetindo o índice

[1] "A" "A" "A"

In [7]:
%%R
x[order(x)]#possível usar a notação de order dentro da notação de slice

[1] "A" "B" "C" "D" "E"

In [10]:
%%R
# Índices Negativos - Ignora elementos em posições específicas
x[-c(1, 3)]#execto index 1 e 3

[1] "E" "D" "C"

In [11]:
%%R
x[-c(1, 4)]#exceto index 1 e 4

[1] "E" "D" "C"

In [14]:
%%R
# Vetor Lógico para gerar subsetting - bacana
x[c(TRUE, FALSE)]

[1] "A" "D" "C"

In [13]:
%%R
x[c(TRUE, FALSE, TRUE, FALSE)]

[1] "A" "D" "C"

In [15]:
%%R
# Vetor de caracteres
x <- c("A", "B", "C", "D")
y <- setNames(x, letters[1:4]) #atribuir setNames() como nome para o vetor anterior a lista de letras de 1 a 4 (minúscula) cria
y

  a   b   c   d
"A" "B" "C" "D"

## Chamar elementos através dos nomes das colunas

In [17]:
%%R
y[c("d", "c", "a")] #chamar os elementos através dons nomes das colunas

  d   c   a
"D" "C" "A"

In [18]:
%%R
y[c("a", "a", "a")]#chamar o mesmo elemento várias vezes

  a   a   a
"A" "A" "A"

In [19]:
%%R
# Matrizes
mat <- matrix(1:9, nrow = 3)
colnames(mat) <- c("A", "B", "C")
mat

     A B C
[1,] 1 4 7
[2,] 2 5 8
[3,] 3 6 9

In [21]:
%%R
mat[1:2, ] #retornar linhas 1 a 2 e todas as colunas

     A B C
[1,] 1 4 7
[2,] 2 5 8

In [22]:
%%R
mat[1:2, 2:3] #retornar subset com linhas de 1 a 2 E colunas de 2 a 3 do dataset

     B C
[1,] 4 7
[2,] 5 8

#**outer()** - função para criar matrizes

## concatenando elementos do primeiro aos do segundo vetor

In [23]:
%%R
# Função outer() permite que uma Matriz se comporte como vetores individuais
vals <- outer(1:5, 1:5, FUN = "paste", sep = ",")
vals

     [,1]  [,2]  [,3]  [,4]  [,5]
[1,] "1,1" "1,2" "1,3" "1,4" "1,5"
[2,] "2,1" "2,2" "2,3" "2,4" "2,5"
[3,] "3,1" "3,2" "3,3" "3,4" "3,5"
[4,] "4,1" "4,2" "4,3" "4,4" "4,5"
[5,] "5,1" "5,2" "5,3" "5,4" "5,5"

In [24]:
%%R 
vals[c(4, 15)] #elemento 15 tem a contagem em colunas primeira coluna 5, segunda 10, terceira 15, quarta 20, quinta 25

[1] "4,1" "5,3"

In [26]:
%%R
## Dataframes
df <- data.frame(x = 1:3, y = 3:1, z = letters[1:3])
df

  x y z
1 1 3 a
2 2 2 b
3 3 1 c

In [27]:
%%R
df$x #retornar apenas coluna x

[1] 1 2 3

In [28]:
%%R
df[df$x == 2, ]#filtrar no momento do slice, retornar apenas a coluna x onde o elemento for igual a 2

  x y z
2 2 2 b

In [29]:
%%R
df[c(1, 3), ]#retornar linhas 1 e 3 com todoas as colunas

  x y z
1 1 3 a
3 3 1 c

In [30]:
%%R
df[c("x", "z")]#retonar vetor de letras, o título das colunas

  x z
1 1 a
2 2 b
3 3 c

In [31]:
%%R
df[, c("x", "z")]#mesma notação para retornar as mesmas colunas com todas as linhas

  x z
1 1 a
2 2 b
3 3 c

In [35]:
%%R
str(df["x"])# ao usar o str o retorno é uma coluna do tipo int

'data.frame':	3 obs. of  1 variable:
 $ x: int  1 2 3

In [33]:
%%R
str(df[, "x"])#ao usar a notação de slice o retorno é um veotr de inteiros

 int [1:3] 1 2 3

In [36]:
%%R
# Removendo colunas de dataframes
df <- data.frame(x = 1:3, y = 3:1, z = letters[1:3])
df

  x y z
1 1 3 a
2 2 2 b
3 3 1 c

In [38]:
%%R
df$z <- NULL #anulando a coluna z
df

  x y
1 1 3
2 2 2
3 3 1

In [39]:

# Operadores [], [[]] e $
a <- list(x = 1:3, y = 4:5) #temos dois elementos na lista "a"
a

$x
[1] 1 2 3

$y
[1] 4 5

In [40]:
%%R
a[1]#retornar um elemento da lista com notação de slice

$x
[1] 1 2 3

In [42]:
%%R
a[[1]]

[1] 1 2 3

In [41]:
%%R
a[[1]][[1]] #indicar retornar o primeiro ELEMENTO da PRIMEIRA LISTA

[1] 1

In [43]:
%%R
a[["x"]]#retornar pelo nome do elemento/coluna dentro da lista

[1] 1 2 3

In [47]:
%%R
b <- list(a = list(b = list(c = list(d = 1)))) #lista de listas que formam o "endereço" de 1
b

$a
$a$b
$a$b$c
$a$b$c$d
[1] 1

In [48]:
%%R
b[[c("a", "b", "c", "d")]]#buscar o elemento através de todos os títulos|índices

[1] 1

In [49]:
%%R
b[["a"]][["b"]][["c"]][["d"]]

[1] 1

In [52]:
%%R
# x$y é equivalente a x[["y", exact = FALSE]]
var <- "cyl"
mtcars$var

NULL

In [54]:
%%R
mtcars[[var]] #forma de automatizar o processo

 [1] 6 6 4 6 8 6 8 4 4 6 6 8 8 8 8 8 8 4 4 4 4 8 8 8 8 4 4 4 8 6 8 4

In [58]:
%%R
x <- list(abc = 1) # x é uma lista, com elemento abc e valor 1
x

$abc
[1] 1

In [59]:
%%R
x$a#compreende que a letra a na lista x "EXISTA dentro do título

[1] 1

In [60]:
%%R
x[["a"]]#ao indexar ele retorna nulo por não existir index|coluna de nome "a"

NULL

In [61]:
%%R
x[["abc"]]#retorna o valor por existir extatamente index|coluna "abc"

[1] 1

---

#**Subsetting e Atribuição**

In [63]:
%%R
x <- 1:5 #criando vetor
x

[1] 1 2 3 4 5

In [64]:
%%R
x[c(1, 2)] <- 2:3 # selecionando elementos 1 e 2 do vetor e alterá-los para 2 e 3. 
x

[1] 2 3 3 4 5

In [66]:
%%R 
x[-1] <- 4:1  # atribuindo valores na ordem inversa
x

[1] 2 4 3 2 1

##Isso é Subsetting - Mantém estrutura ao aplicar funções

In [67]:
%%R
head(mtcars) #primeiras linhas de mtcars

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [69]:
%%R 
mtcars[] <- lapply(mtcars, as.integer) #aplicar com a função lapply()a função as.integer() para elementos de mtcars, atribuindo a mtcars[ ] a todos os índices
head(mtcars)

                  mpg cyl disp  hp drat wt qsec vs am gear carb
Mazda RX4          21   6  160 110    3  2   16  0  1    4    4
Mazda RX4 Wag      21   6  160 110    3  2   17  0  1    4    4
Datsun 710         22   4  108  93    3  2   18  1  1    4    1
Hornet 4 Drive     21   6  258 110    3  3   19  1  0    3    1
Hornet Sportabout  18   8  360 175    3  3   17  0  0    3    2
Valiant            18   6  225 105    2  3   20  1  0    3    1

## Isso não é Subsetting

In [70]:
%%R
# Isso não é subsetting
mtcars <- lapply(mtcars, as.integer) # a função agora está sendo aplicada a todo o dataset e não apenas aos índices
head(mtcars)

$mpg
 [1] 21 21 22 21 18 18 14 24 22 19 17 16 17 15 10 10 14 32 30 33 21 15 15 13 19
[26] 27 26 30 15 19 15 21

$cyl
 [1] 6 6 4 6 8 6 8 4 4 6 6 8 8 8 8 8 8 4 4 4 4 8 8 8 8 4 4 4 8 6 8 4

$disp
 [1] 160 160 108 258 360 225 360 146 140 167 167 275 275 275 472 460 440  78  75
[20]  71 120 318 304 350 400  79 120  95 351 145 301 121

$hp
 [1] 110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66  52
[20]  65  97 150 150 245 175  66  91 113 264 175 335 109

$drat
 [1] 3 3 3 3 3 2 3 3 3 3 3 3 3 3 2 3 3 4 4 4 3 2 3 3 3 4 4 3 4 3 3 4

$wt
 [1] 2 2 2 3 3 3 3 3 3 3 3 4 3 3 5 5 5 2 1 1 2 3 3 3 3 1 2 1 3 2 3 2

In [71]:
%%R
# Lookup tables
x <- c("m", "f", "u", "f", "f", "m", "m")
x

[1] "m" "f" "u" "f" "f" "m" "m"

In [73]:
%%R
lookup <- c(m = "Male", f = "Female", u = NA) #buscar algo dentro do conjunto com a função lookup()
lookup

       m        f        u
  "Male" "Female"       NA

In [74]:
%%R
lookup[x] #buscar por lookup através do índice x - "de-para"

       m        f        u        f        f        m        m
  "Male" "Female"       NA "Female" "Female"   "Male"   "Male"

In [77]:
%%R
unname(lookup[x]) #lookup sem títulos, sem nomes

[1] "Male"   "Female" NA       "Female" "Female" "Male"   "Male"

---

#**Usando Operadores Lógicos**

In [78]:
%%R
# Usando operadores lógicos
x1 <- 1:10 %% 2 == 0
x1

 [1] FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE

In [80]:
%%R
which(x1)

[1]  2  4  6  8 10

In [81]:
%%R
x2 <- which(x1)
x2

[1]  2  4  6  8 10

In [82]:
%%R
y1 <- 1:10 %% 5 == 0
y2 <- which(y1)
y2

[1]  5 10

In [83]:
%%R
intersect(x2, y2)

[1] 10

In [84]:
%%R
x1 & y1

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE

In [85]:
%%R
union(x2, y2)#união dos dois conjuntos

[1]  2  4  6  8 10  5

In [86]:
%%R
setdiff(x2, y2) #diferença entre os conjuntos de dados

[1] 2 4 6 8